{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  //"plugin:prettier/recommended",
  // "eslint:recommended",
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-console": 0,
    "space-before-function-parent": [
      "error",
      "never"
    ]
    // "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    // "curly": ["error", "multi"]
  },
  "plugins": [
    "prettier"
  ]
}
